@import url('https://fonts.googleapis.com/css2?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --width-sidebar: 280px;
    --padding-sidebar: 320px;
    --color-main: #3bb77e;
    --text-color: #868686;
    --truongzeee: #ff1853;
    /* hello world */
}

/* css bảng điều khiển */
.container {
    width: 100%;
    height: auto;
}

html {
    font-family: 'Poppins', sans-serif;
}

/* custom thanh scrollbar */
body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background-color: #fff;
}

body::-webkit-scrollbar-thumb {
    background-color: #3bb77e;
    border-radius: 10px;
}

header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.admin {
    width: 100%;
    /* background-color: #3bb77e; */
    height: 80px;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 50px;
}

.admin__info {
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
}

.admin__info--avatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.admin__info--avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: contain;
}

.admin__info--name {
    font-size: 20px;
    position: relative;
    padding-left: 10px;
}

.admin__info:hover .admin__info--name::before {
    width: 100%;
    left: 0;
}

.admin__info:hover .admin__info--name {
    color: var(--color-main);
}

.admin__info--name::before {
    position: absolute;
    content: "";
    width: 0%;
    height: 2px;
    bottom: -5px;
    right: 0;
    background-color: var(--color-main);
    transition: .25s;
}

.sidebar {
    width: var(--width-sidebar);
    height: 100vh;
    background-color: var(--color-main);
    position: fixed;
    left: 0;
    top: 0;
    padding: 10px;
    color: #fff;
    overflow: auto;
    -webkit-box-shadow: 3px 3px 10px 3px #ddd;
    -moz-box-shadow: 3px 3px 10px 3px #ddd;
    box-shadow: 3px 3px 10px 3px #ddd;
}

.sidebar__logo {
    font-size: 45px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    position: relative;
    border-radius: 20px;
}

.sidebar__logo img {
    width: 70%;
    height: 100%;
    object-fit: contain;
}

/*  */
.sidebar__logo::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 100%;
    left: 0%;
    background-color: var(--color-main);
    transform: skewX(-20deg);
    animation: logo 2s infinite linear;
}

@keyframes logo {
    0% {
        left: 0%;
    }

    100% {
        left: 90%;
    }
}

.sidebar__menu {}

.sidebar__menu--item {
    list-style: none;
    padding: 0 20px;
}

.sidebar__menu--item.active {
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    -webkit-box-shadow: inset 3px 3px 10px 3px #ddd;
    -moz-box-shadow: inset 3px 3px 10px 3px #ddd;
    box-shadow: inset 3px 3px 10px 3px #ddd;
}

.sidebar__menu--item.active a {
    color: var(--text-color);
}

.sidebar__menu--item a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    display: block;
    padding: 10px 0;
    color: #fff;
    display: flex;
    align-items: center;
}

.sidebar__menu--item a>i {
    margin-right: 5px;
    font-size: 30px;
}

/* .bx{

}
.bxs-universal-access{

} */
main {
    width: 100%;
    height: auto;
}

.box_myDiv {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

#myDiv {
    width: 50%;
    font-size: 20px;
    font-weight: bold;
}

.myDiv-left {
    width: 50%;
}

.title {
    text-align: center;
    font-size: 50px;
    margin-top: 50px;
    font-weight: bold;
    color: var(--color-main);
    width: 100%;
    height: 200px;
    box-shadow: 3px 3px 10px 3px #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.title>span {
    color: var(--text-color);
}

.content-box {
    width: 100%;
    height: auto;
    padding: 0px 50px 0px var(--padding-sidebar);
}

.parameters {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 50px 0;
}

.parameters__item {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    -webkit-box-shadow: 3px 3px 10px 3px #ddd;
    -moz-box-shadow: 3px 3px 10px 3px #ddd;
    box-shadow: 3px 3px 10px 3px #ddd;
    border-radius: 10px;
}

.parameters__item--left {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
}

.parameters__item--left p {
    font-size: 12px;
    text-align: center;
    color: var(--text-color);
}

.parameters__item--left p>span {
    font-weight: bold;
    font-size: 25px;
    color: var(--color-main);
}

.parameters__item--right {
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 30px;
}

.parameters__item--right i {
    color: var(--text-color);
}

.table-main {
    width: 100%;
    height: auto;
    padding: 40px;
    -webkit-box-shadow: 3px 3px 10px 3px #ddd;
    -moz-box-shadow: 3px 3px 10px 3px #ddd;
    box-shadow: 3px 3px 10px 3px #ddd;
    border-radius: 10px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.table-main table {
    width: 100%;
}

a {
    text-decoration: none;
}

.table-main tr {
    height: 50px;
    box-shadow: 0 1px #868686;
}

.table-main td {
    padding: 15px 0;
    text-align: center;
    max-width: 150px;
}

td>img {
    border: 3px solid var(--color-main);
    border-radius: 10px;
    object-fit: cover;
}

.table-main td>div {
    /* white-space: nowrap; 
    thuộc tính cho cá chữ trong hàng không xuống dòng trừ khi găoj thẻ br */
    white-space: nowrap;
    overflow: hidden;
    /* text-overflow: ellipsis; hiển thị dấu ... khi văn bản dài */
    text-overflow: ellipsis;
    width: 100%;
    margin-right: -50px;
    padding: 0 30px;
}

/* css quản lý sản phẩm */

.table-main img {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.table-main button {
    padding: 5px 20px;
    margin-left: 10px;
    -webkit-box-shadow: 3px 3px 10px 3px #ddd;
    -moz-box-shadow: 3px 3px 10px 3px #ddd;
    box-shadow: 3px 3px 10px 3px #ddd;
    border-radius: 10px;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: 0.25s;
}

.delete {
    background-color: red;
}

.edit {
    background-color: blue;
}

.table-main button:active {
    transform: scale(0.8);
}

.add,
.btn-delete {
    text-decoration: none;
}

.add button,
.check-all,
.btn-delete button {
    display: flex;
    width: 250px;
    height: 50px;
    justify-content: center;
    align-items: center;
    margin: 0 20px 30px 0 !important;
    -webkit-box-shadow: 3px 3px 10px 3px #ddd;
    -moz-box-shadow: 3px 3px 10px 3px #ddd;
    box-shadow: 3px 3px 10px 3px #ddd;
    border: none;
    font-size: 20px;
    border-radius: 5px;
    background: #fff;
    color: var(--text-color);
    margin-right: 20px;
    user-select: none;
}

.add span {
    display: inline-block;
    margin-left: 10px;
}

.add button:active,
.check-all:active,
.btn-delete button:active {
    -webkit-box-shadow: inset 3px 3px 10px 3px #ddd;
    -moz-box-shadow: inset 3px 3px 10px 3px #ddd;
    box-shadow: inset 3px 3px 10px 3px #ddd;
}

.box-btn {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 50px;
    flex-wrap: wrap;
}

/* css trang thêm mới sản phẩm  */
.form-add {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 150px;
}

.form-left {
    width: 50%;
    height: auto;
    padding: 50px 0px;
    /* background-color: red; */
}

.form-left input,
.form-left select {
    width: 90%;
    height: 60px;
    margin-top: 50px;
    outline: none;
    border: none;
    box-shadow: 3px 3px 10px 3px #ddd;
    border-radius: 5px;
    padding: 0 20px;
    font-size: 20px;
}

.form-right {
    width: 50%;
    height: auto;
    padding: 50px 0px;
}

.form-right label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    margin-top: 50px;
    position: relative;
    box-shadow: 3px 3px 10px 3px #ddd;
    border-radius: 10px;
    overflow: hidden;
}

.form-right label>span {
    position: absolute;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 100px;
    background-color: #fff;
}

.form-right label>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.form-bottom {
    width: 100%;
    height: 300px;
}

.form-bottom textarea {
    width: 100%;
    height: 70%;
    border: none;
    outline: none;
    box-shadow: 3px 3px 10px 3px #ddd;
    border-radius: 10px;
    padding: 20px;
    font-size: 20px;
}

.btn-form {
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 50px;
    margin-bottom: 50px;
    width: 180px;
    height: 50px;
    position: relative;
    border: none;
    outline: none;
    background-color: #fff;
    color: var(--color-main);
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.btn-form>span {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.btn-form::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 2px;
    background: var(--color-main);
    transition: 0.25s;
}

.btn-form::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 20px;
    background: var(--color-main);
    transition: 0.25s;
}

.btn-form>span::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20px;
    height: 2px;
    background: var(--color-main);
    transition: 0.25s;
}

.btn-form>span::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 2px;
    height: 20px;
    background: var(--color-main);
    transition: 0.25s;
}

.btn-form:hover::before {
    width: 100%;
}

.btn-form:hover::after {
    height: 100%;
}

.btn-form>span:hover::before {
    width: 100%;
}

.btn-form>span:hover::after {
    height: 100%;
}


/* css thêm danh mục */
.form-right-2 input {
    width: 100%;
    height: 60px;
    margin-top: 50px;
    outline: none;
    border: none;
    box-shadow: 3px 3px 10px 3px #ddd;
    border-radius: 5px;
    padding: 0 20px;
    font-size: 20px;
}

/* css chi tiết và xóa danh mục */

.sub-title {
    font-size: 20px;
    color: var(--text-color);
    margin-bottom: 20px;
}

.select-save {
    display: flex;
    width: 250px;
    height: 50px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    box-shadow: 3px 3px 10px 3px #ddd;
    border: none;
    font-size: 20px;
    border-radius: 5px;
    background: #fff;
    color: var(--text-color);
    margin-right: 20px;
    user-select: none;
    position: relative;
    outline: none;
}

.select-save2 {
    width: 150px;
    height: 30px;
    box-shadow: 3px 3px 10px 3px #ddd;
    border: none;
    outline: none;
    user-select: none;
    border-radius: 5px;
    color: var(--text-color);
}

.erro {
    display: block;
    height: 30px;
    color: red;
    font-size: 18px;
}

label {
    display: block;
    margin-top: 20px;
    font-size: 20px;
}

/* css profile */

.profile {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.profile-left {
    width: 30%;
    height: 350px;
    position: relative;
}

.animation-box {
    position: absolute;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    top: -5px;
    left: -5px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 3px 3px 10px 3px #ddd;

}

.animation-box::before {
    position: absolute;
    content: "";
    width: calc(100% + 80px);
    height: calc(100% + 80px);
    top: -40px;
    left: -40px;
    background-image: conic-gradient(var(--color-main), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    animation: reverse rotate 8s infinite linear;
}

.animation-box::after {
    position: absolute;
    content: "";
    width: calc(100% + 80px);
    height: calc(100% + 80px);
    bottom: -40px;
    right: -40px;
    transform: rotate(180deg);
    background-image: conic-gradient(var(--color-main), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    animation: reverse rotate1 8s infinite linear;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotate1 {
    0% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(540deg);
    }
}

.box-profile {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    position: absolute;
    border-radius: 10px;
}

.profile-avatar {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
    position: relative;
    background-color: #3bb77e;
    border-radius: 50%;
}

.profile-avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: contain;
    position: absolute;
    z-index: 2;
    cursor: pointer;
}

.profile-avatar:after {
    position: absolute;
    content: "";
    width: 155px;
    height: 155px;
    background-color: inherit;
    top: -2.5px;
    left: -2.5px;
    border-radius: 50%;
    z-index: 1;
}

.profile-name {
    font-weight: bold;
    margin: 20px 0px 10px;
    font-size: 18px;
    color: var(--color-main);
    position: relative;
}

.profile-name::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 100%;
    left: -35px;
    transform: skewX(-30deg);
    background-color: rgba(255, 255, 255, 0.5);
    /* background-color: red; */
    animation: textAnimation 2s infinite linear;
}

@keyframes textAnimation {
    0% {
        left: -35px;
    }

    100% {
        left: 180px;
    }
}

.position {
    color: #868686;
    display: block;
    font-size: 15px;
}

.profile-right {
    width: 65%;
    height: 350px;
    box-shadow: 3px 3px 10px 3px #ddd;
    padding: 20px;
    border-radius: 10px;
}

.row {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 10px 0px;
    border-bottom: 2px solid var(--color-main);
    position: relative;
}

.lable-profile {
    display: inline-block;
    width: auto;
    user-select: none;
    margin: 0;
    cursor: text;
}

.box-form {}

.input-profile {
    border: none;
    outline: none;
    width: 350px;
    padding-left: 20px;
    font-size: 21px;
}

.box-form button {
    margin-top: 20px;
    padding: 8px 20px;
    margin-right: 20px;
    border-radius: 5px;
    border: 1px solid var(--color-main);
    background-color: var(--color-main);
    color: #fff;
    font-weight: bold;
    transition: .25s;
}

.box-form button:hover {
    background-color: #fff;
    color: var(--color-main);
    cursor: pointer;
}

.box-form button:active {
    transform: scale(0.9);
}

.input-profile:focus {
    display: none;
}

.input-profile.unlog:focus {
    display: block;
}

.eye {
    position: absolute;
    right: 10px;
    color: var(--color-main);
    cursor: pointer;
    user-select: none;
}

.repass {
    display: none;
}

.overlay-img::after {
    content: "Thay thế";
    position: absolute;
    z-index: 11;
    color: red;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    transform: translateY(-10000%);
    transition: .5s;
}

.overlay-img:hover::after {
    transform: translateX(0%);
}

/* comment */
.comment-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    letter-spacing: 1px;
    margin: 30px 0px;
    padding: 10px 20px;
}

.comment-header span {
    font-size: 1.3rem;
    color: #3b3b3b;
    margin-bottom: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
    ;
}

.comment {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.comment-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-image {
    width: 50%;
    margin-right: 10px;
}

/* comment-top */
.comment-top {
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    padding: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-bottom: 50px;
}

.comment-top_info {
    display: inline-block;
    flex-direction: column;
    margin-right: 10px;
}

.comment-top_info h1 {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 20px;
}

.comment-top_info .comment-p1 {
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.comment-top_info .comment-p2 {
    font-size: 1.2rem;
    color: #4b4b4b;
}

.comment-top-image {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 300px;
    height: auto;
}

.comment-top-image .comment-top_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* end comment-top */
/* comment-bottom */
.comment-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.comment-bottom-detail {
    width: 500px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    background: #ffffff;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
}

.comment-bottom-detail:hover {
    transform: translateY(-10px);
    transition: all ease 0.3s;
}

.comment-p {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    justify-content: space-between;

}

.comment-profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.comment-bottom_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.comment-delete {
    text-align: center;
    margin: 50px 0;
}

.comment-bottom_h1.new {
    font-size: 12px;
    color: #3b3b3b;
    margin-top: 5px;
}

.comment-bottom_p {
    font-size: 0.9rem;
    color: #4b4b4b;
}

/* end comment-bottom */
.delete-comment {
    margin: 50px 0px;
    text-decoration: none;
}

.delete-comment button {
    letter-spacing: 1px;
    padding: 10px;
    border: 1px solid red;
    color: red;
    background: #fff;
    border-radius: 10px;
    cursor: pointer;
}

.delete-comment button span {
    animation: animate 2s linear infinite;
}

.delete-comment button span:nth-child(1) {
    animation-delay: 0s;
}

.delete-comment button span:nth-child(2) {
    animation-delay: 0.25s;
}

.delete-comment button span:nth-child(3) {
    animation-delay: 0.5s;
}

.delete-comment button span:nth-child(4) {
    animation-delay: 0.75s;
}

.delete-comment button span:nth-child(5) {
    animation-delay: 1s;
}

.delete-comment button span:nth-child(6) {
    animation-delay: 1.25s;
}

.delete-comment button span:nth-child(7) {
    animation-delay: 1.5s;
}

.delete-comment button span:nth-child(8) {
    animation-delay: 1.75s;
}

.delete-comment button span:nth-child(9) {
    animation-delay: 2s;
}

.delete-comment button span:nth-child(10) {
    animation-delay: 2.25s;
}

@keyframes animate {

    0%,
    100% {
        color: red;
        filter: blur(0px);
        text-shadow: 0 0 10px #770000,
            0 0 20px #770000,
            0 0 40px #770000,
            0 0 80px #770000,
            0 0 120px #770000,
            0 0 200px #770000,
            0 0 300px #770000,
            0 0 400px #770000,
    }

    5%,
    95% {
        color: red;
        filter: blur(1px);
        text-shadow: 0 0 10px none;
    }
}

.x {
    font-size: 20px;
    color: yellow;
}

.comment-p-left {
    display: flex;
    align-items: center;
}

@media (max-width:1200px) {
    .comment {
        padding: 10px;
    }
}

/* end comment */
/* css order detai */
.box-bill {
    width: 550px;
    height: 300px;
    /* background-color: red; */
    margin: 80px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.box-bill::before {
    content: "";
    position: absolute;
    width: calc(100% + 200px);
    height: calc(100% + 400px);
    background-image: conic-gradient(blue, #fff0, #fff0,#fff0 ,#fff0);
    animation: reverse rotate1 8s infinite linear;
}
.box-bill::after {
    content: "";
    position: absolute;
    width: calc(100% + 200px);
    height: calc(100% + 400px);
    background-image: conic-gradient(red, #fff0, #fff0,#fff0 ,#fff0);
    transform: rotate(180deg);
    animation: reverse rotate 8s infinite linear;
}


.box-bill-main {
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    margin: auto;
    border-radius: inherit;
    padding: 20px;
    position: absolute;
    z-index: 1;
    background-color: #ffffff;
    box-shadow: 3px 3px 100px 3px #ddd;
}

.main-bill-name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #3bb77e;
}

.main-bill-phone {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.main-bill-address {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.main-bill-total {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.box-main-check {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-check {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-check label {
    font-size: 15px;
    font-weight: 100;
    margin: 0px 20px 0px 5px;
}
.box-bill-main button{
    font-weight: bold;
    color: #fff;
    background-color: #3bb77e;
    border: 1px solid #3bb77e;
    border-radius: 8px;
    padding: 10px 15px;
    margin-top: 10px;
    transition: .5s;
}
.box-bill-main button:hover{
    color: #3bb77e;
    background-color: #fff;
}