*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;

}

html {
  scroll-behavior: revert !important;
}
html::-webkit-scrollbar{
  background-color: #eee;
  width: 8px;
}
html::-webkit-scrollbar-thumb{
  background-color: #33b530;
  border-radius: 5px;
}

body {
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  outline: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.top-header {
  width: 1080px;
  margin: auto;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-seach {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.line {
  /* min-width: 1080px; */
  height: 1px;
  background-color: #ccc;
  /* box-sizing: unset; */
}

.top_header--left a,
.top_header--right a {
  color: #000;
  text-decoration: none;
}

.left__item2,
.right__item2 {
  margin-left: 25px;
  padding-left: 25px;
  position: relative;
}

.left__item2::before,
.right__item2::before {
  content: '';
  position: absolute;
  width: 1px;
  height: 25px;
  background-color: #ccc;
  top: -5px;
  bottom: 0;
  left: 0%;
}

.top-header a:hover {
  color: #38b000;
}

/* end top header */

.mid-header {
  width: 1080px;
  margin: auto;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 20px 0;
  justify-content: space-between;
}

.logo {
  width: 155px;
  height: 35px;
}

.mid-header img {
  object-fit: contain;
}

.search {
  position: relative;
}

.search__input {
  width: 525px;
  height: 35px;
  background-color: #f3f3f3;
  border: none;
  border-radius: 10px;
  padding: 20px;
  margin-left: 20px;
}

.search__button {
  height: 25px;
  width: 25px;
  position: absolute;
  top: 18%;
  right: 3%;
  border: none;
  background-color: #f3f3f3;
  font-size: 20px;
}

.account__logo,
.cart__logo,
.hotline__logo {
  width: 25px;
  height: 25px;
}

.account__logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #38b000;
}


.hotline,
.account,
.cart {
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.account {
  justify-content: center;
  align-items: center;
}

.account p {
  margin: 0px 10px 0px;
}

.phone_number {
  font-weight: 700;
}

.phone_number:hover {
  color: #008000;
  cursor: pointer;
}

.account {
  font-weight: 700;
  position: relative;
  width: auto;
  height: 50px;
}

.account__hover::before {
  content: '';
  position: absolute;
  width: 100px;
  height: 30px;
  background-color: transparent;
  top: -25px;
  left: 80px;
}

.account__hover {
  display: none;
  position: absolute;
  width: 250px;
  height: auto;
  /* display: flex; */
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 2px;
  top: 50px;
  right: -100%;
  right: 0;
  box-shadow: 0px 1px 11px 1px rgba(0, 0, 0, 0.175);
  background-color: #fff;
  padding: 5px 10px;
}

.account__hover a {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  background-color: #38b000;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  border-radius: 5px;
  margin: 5px;
}

.account:hover .account__hover {
  display: flex;
  z-index: 999;
}

.sign__in:hover,
.sign__up:hover {
  background-color: #008000;
}

.account:hover {
  cursor: pointer;
}

.cart {
  font-weight: 700;
  padding-right: 15px;
}

/* end mid header */
.menu {
  padding: 20px 550px 15px 0;
  width: 1080px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu li {
  display: inline-block;
}

.menu li a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
}


.menu li a:hover {
  color: #38b000;
  /* font-weight: 600; */
}

/* end menu */
/* main {
  width: 1080px;
  margin: auto;
} */

.banner {
  width: 1080px;
  margin: auto;
}

.banner img {
  background-size: cover;
  margin-top: 20px;
  border-radius: 30px;
}

/* end banner */

.categories {
  width: 1080px;
  height: auto;
  margin: 0 auto 50px;
}

.title-categories {
  font-size: 20px;
  font-weight: bold;
  margin: 50px 0;
}

.main-categories {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 300px;
}

.box-categories {
  border: 2px solid #ccc;
  margin: -2px -2px 0 0;
  position: relative;
  overflow: hidden;
}

.box-categories::after {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #FEEFD2;
  top: 20px;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
  transition: 0.25s;
}

.categories-img {
  width: 100%;
  height: 80%;
  position: relative;
  z-index: 2;
}

.categories-img>img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.categories-name {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  color: #3b3b3b;
}

.categories-name:hover {
  color: #008000;
}


/* end category */

.wrap-discount {
  background-color: rgb(255, 70, 59);
}

.discount__product {
  height: 475px;
  width: 1080px;
  margin: auto;
  margin-top: 50px;
  /* background-color: rgb(255, 70, 59); */
  border-radius: 20px;
}

.title__discount {
  display: inline-block;
  margin: 15px 10px;
  font-size: 25px;
  color: #fff;
}

.swiper {
  background-color: rgba(255, 255, 255, 0.168);
  width: 100%;
  height: 384px;
  box-sizing: unset;
}

.swiper-slide {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  font-size: 18px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 200px;
  object-fit: contain;
}

.price-and-cart {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  width: 100%;
  margin-top: 10px;
  flex-direction: column-reverse;
}

/* end slide show prd discount */
.list__product--wrap {
  background-color: #f4f5f9;
  min-width: 1080px;
  box-sizing: unset;
  padding-bottom: 20px;
}

.title--button__categories {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title__product {
  font-size: 25px;
  margin: 20px;
  font-weight: 500;
}

.category__button {
  /* width: 150px; */
  /* height: 35px; */
  margin-left: 20px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
}

.category__button:hover {
  background-color: rgb(59, 183, 126);
  color: #fff;
}

.title--button__categories {
  width: 1080px;
  margin: auto;
}

.list__product {
  width: 1080px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
}

.product__item {
  padding: 10px;
  width: 200px;
  height: 330px;
  border-radius: 20px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.price__product--discount {
  color: #000;
  text-decoration: line-through;
}

.product__item--slogan {
  border-radius: 10px;
  width: 200px;
  height: 330px;
}

.slogan__product {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.box-nav {
  width: 1080px;
  height: 50px;
  margin: auto;
}

.product__item img {
  border-radius: inherit;
  height: 200px;
  width: 100%;
  object-fit: contain;
}

.product__item--status {
  font-size: 20px;
  color: #38b000;
  font-weight: bold;
}

.product__item--name {
  color: #000;
  text-decoration: none;
}

.product__item--name:hover {
  color: rgb(59, 183, 126);
}

/* end main */

footer {
  background-color: rgb(37, 43, 51);
  height: 410px;
  width: 100%;
}

.child__footer {
  width: 1080px;
  margin: auto;
  color: #fff;
  font-size: 14px;
}

.top__footer--item {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.top__footer {
  height: 70px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.top__footer--item img {
  width: 38px;
  height: 37px;
}

.main__footer {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  height: 330px;
}

.main__footer--left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* align-items: center; */
}

.main__footer--center-left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.email__footer {
  text-decoration: none;
  color: #fff;
}

.email__footer:hover {
  color: rgb(59, 183, 126);
}

.main__footer--center-right,
.main__footer--right {
  margin-top: 40px;
}

.list_menu__footer {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.list_menu--item {
  display: inline-block;
}

.list_menu--item a {
  color: #fff;
  text-decoration: none;
}

.list_menu--item a:hover {
  color: rgb(59, 183, 126);
}

/* css trang all product */
.box-container {
  width: 1080px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin: 50px auto;
}

.box-filter {
  width: 23%;
  height: auto;

}

.filter {
  width: 100%;
  border: 1px solid #e5e5e5;
  height: auto;
}

.box-product {
  width: 75%;
}

.filter__title {
  font-size: 20px;
  font-weight: bold;
  display: block;
  background-color: #e5e5e5;
  padding: 10px;
}

.filter__box-item {
  padding: 10px;
}

.filter__naem-item {
  font-weight: bold;
}

.filter__box-item>ul {
  padding: 0;
}

.filter__box-item>ul>li {
  list-style: none;
  padding: 5px 0px;
}

.filter__box-item>ul>li label {
  font-weight: 200;
}

.filter__box-item>ul>li>label:hover {
  color: #38b000;
  cursor: pointer;
}

.list__product.box-new {
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  margin: 0px;
  grid-gap: 15px;
}

.product__item.new {
  width: 100%;
  background-color: #F4F5F8;
}

.product__item--name.new {
  overflow: hidden;
  margin-right: -50px;
  height: 50px;
  max-width: 100%;
}

.product__img.new {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 10px;
}

.product__item.new a button {
  border: none;
  color: #fff;
  background-color: #38b000;
  border-radius: 15px;
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #38b000;
  transition: .5s;
}

.product__item.new a button:hover {
  color: #008000;
  background-color: #fff;
}

.search-btn {
  padding: 5px 20px;
  border: 1px solid #38b000;
  border-radius: 8px;
  margin-left: 10px;
  background-color: #38b000;
  color: #fff;
  font-weight: bold;
  transition: .25s;
  user-select: none;
}

.search-btn:hover {
  background-color: #fff;
  color: #38b000;
}

/* gi đè boostarp */
.pagination.pagination-sm {
  display: flex;
  margin-top: 20px;
  max-width: 103px;
}

.pagination {
  --bs-pagination-color: #38b000;
}

.active>.page-link,
.page-link.active {
  z-index: 3;
  color: #fff;
  background-color: #38b000;
  border-color: #38b000;
}

/*  */

/* css detail-products */

.detail-menu {
  height: 45px;
}

.detail-menu__product {
  margin: 0px 125px;
  height: 100%;
  display: flex;
  align-items: center;
}

.detail-menu__product a {
  letter-spacing: 0.5px;
  font-size: 0.9rem;
  color: #000;
  text-decoration: none;
  padding: 10px;
}

.detail-menu__product span a {
  color: #3bb77e;
}

.box-detail {
  margin: auto;
  width: 1080px;

}

.box-detail-top {
  height: 50px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
}

.box-detail-top h1 {
  padding-top: 13px;
  font-size: 20px;
  font-weight: 700;
}

.box-detail-main {
  width: 100%;
  padding: 10px 30px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.box-detail-main-left {
  width: 40%;
  padding-right: 10px;
}

.box-detail-main-left img {
  width: 330px;
  height: 330px;
  object-fit: cover;
  border-radius: 10px;
}

.box-detail-main-right {
  width: 60%;
  padding-top: 10px;
}

.box-detail-main-right p {
  margin-bottom: 5px;
  font-size: 20px;
}

.name-product_detail {
  color: #008000;
  font-weight: bold;
}

.price-1 {
  font-weight: bold;
  color: #008000;
}

.discount-1 {
  text-decoration: line-through;
}

.discount2-product_detail {
  color: #008000;
  font-weight: bold;
}

.box-detail-main-right-count {
  display: flex;
  align-items: center;

}

.box-detail-main-right-count button {
  border: 1px solid #ccc;
  height: 35px;
  width: 35px;
  color: #3bb77e;
  background: #fff;

}

.box-detail-main-right-count input {
  border: none;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  text-align: center;
  width: 70px;
  height: 35px;

}

.box-detail-main-right-count button:hover {
  color: #fff;
  background: #3bb77e;
}

.detail-purchase {
  width: 100%;
  border: 1px solid #3bb77e;
  background: #3bb77e;
  color: #fff;
  border-radius: 8px;
  margin: 16px 0;
  line-height: 18px;
}

.detail-purchase:hover {
  color: #3bb77e;
  background: #fff;
}

.detail-purchase p:nth-child(1) {
  text-transform: uppercase;
  padding-top: 10px;
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: 500;

}

.box-detail-main-right_both {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box-detail-main-right_both a {
  display: block;
  width: 49%;
}


.box-detail-main-right_both button {
  display: block;
  line-height: 18px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 5px;
  font-weight: 500;
  font-size: 14px;
  width: 100%;
  background: #277cea;
  border: 1px solid #1d72e0;
}

.box-detail-main-right_both button:hover {
  color: #1d72e0;
  background: #fff;
}

.box-detail-main-right_both button:nth-child(1) {
  margin-right: 5px;
}

.box-detail-main-right .detail-call {
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-detail-main-right .detail-call span {
  color: #3bb77e;
}

.box-detail-bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}

.box-detail-bottom-left {
  width: 60%;
  margin-right: 10px;
}

.box-detail-bottom-header p {
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600;
}

.box-detail-bottom-main p {
  font-size: 15px;
  line-height: 24px;
}

.box-detail-bottom-main img {
  max-width: 100% !important;
  height: auto !important;
}

.box-detail-bottom-right {
  width: 40%;
}

.box-detail-bottom_home-mini {
  display: flex;
}

.home_mini {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  line-height: 10px;
  cursor: pointer;
}

.home_mini:active {
  box-shadow: inset 3px 3px 10px 3px #ddd;
}

.home_mini .x {
  color: #3b3b3b;
  font-size: 20px
}

.home_mini p {
  margin-top: 10px;
}

a {
  text-decoration: none;
}

.box-detail-bottom_home-advanced {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.home-mini_product {
  display: flex;
  padding-bottom: 10px;
  flex-direction: row;
  width: 100%;
  height: 100px;
  justify-content: space-between;
  align-items: center;

}

.home-mini_product .home-mini_product-img {
  width: 30%;
  height: 100%;
  margin-right: 10px;
}

.desc-detail {
  font-size: 10px;
  color: #202020 !important;
  font-weight: 100 !important;
  max-width: 180px;
}

.home-mini_product .home-mini_product-img img {
  width: 200px;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.home-mini_product .home-mini_product-detail {
  width: 70%;
  height: 100%;
  overflow: auto;
}

.home-mini_product-detail::-webkit-scrollbar{
  background-color: #eee;
  width: 4px;
  border-radius: 5px;
}
.home-mini_product-detail::-webkit-scrollbar-thumb{
  background-color: #33b530;

}

.home-mini_product .home-mini_product-detail a {
  font-size: 14px;
  color: #008000;
  margin: 0px;
  font-weight: bold;
  text-decoration: none;
}

.box-detail-comment {
  margin-top: 100px;
  display: flex;

  align-items: center;
}

.box-detail-comment2 {
  width: 70%;

  padding: 10px 15px;

}

.box-detail-comment2 h2 {
  text-align: center;
  margin-bottom: 15px;
}

.box-detail-comment2 form textarea {
  height: 20px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #aaa;
  background: transparent;
  margin-bottom: 10px;
  resize: none;
  overflow: hidden;
  outline: none;
  padding-bottom: 35px;
  font-size: 20px;
}

.box-detail-comment_btn input,
button {
  padding: 10px 15px;
  border: none;
  outline: none;
  border-radius: 5px;
  text-transform: uppercase;

}

.box-detail-comment_btn input {
  color: #fff;
  background: #3bb77e;
}

.box-detail-comment_btn button {
  color: #333;
  background: transparent;
}

#test {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.test-heading {
  letter-spacing: 1px;
  margin: 30px 0px;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.test-heading h1 {
  font-size: 2.2em;
  font-weight: 500;
  background: #202020;
  color: #ffffff;
  padding: 10px 20px;
}

.test-heading span {
  font-size: 1.3rem;
  color: #252525;
  margin-bottom: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
  ;
}

.test-box-contain {
  display: flex;

  align-items: center;
  flex-wrap: wrap;
  width: 100%;

}

.test-box {
  width: 500px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
  background: #ffffff;
  padding: 20px;
  margin: 15px;
  cursor: pointer;
  transition: 0.25s;
}

.profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.profile-img img {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.profile {
  display: flex;
  align-items: center;
}

.name-user {
  display: flex;
  flex-direction: column;
}

.name-user strong {
  color: #3d3d3d;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
}

.name-user span {
  color: #979797;
  font-size: 0.8rem;
}

.reviews {
  color: #f9d71c;
}

.box-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.client-comment p {
  font-size: 0.9rem;
  color: #4b4b4b;
}

.test-box:hover {
  transform: translateY(-10px);
  transition: all ease 0.3s;
}

/* Cart begin  */
.cart_wrap {
  width: 1080px;
  margin: auto;
}

.cart__title {
  font-size: 22px;
  margin: 20px 20px 50px 0px;
  display: inline-block;
  color: #202020;
  padding: 0px 10px;
}

.cart__title.click {
  color: #008000;
  border-bottom: 2px solid #008000;
}

.product__cart_img {
  width: 250px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.product__cart--item {
  display: grid;
  grid-template-columns: 250px 400px 200px 200px;
  grid-gap: 10px;
  height: 200px;
  position: relative;
  margin-bottom: 30px;
}

.product__cart--item::after {
  content: "";
  width: 100%;
  height: 0.5px;
  background-color: #ccc;
  position: absolute;
  top: 100%;
}

.product__cart_detail {
  display: flex;
  flex-direction: column;
  padding: 50px 5px;
}

.product__cart--name {
  font-size: 17px;
  font-weight: 600;
}

.product__cart--brand {
  color: #aaa;
  text-decoration: line-through;
}

.product__cart--delete {
  color: #33b530;
  text-decoration: none;
}

.product__cart--price {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  color: #33b530;
}

.product__cart--quantity {
  display: flex;
  align-items: center;
}

.btn__quantity {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 0;
}

.prodct__cart--quantity-inp {
  padding: 10px;
  vertical-align: top;
  width: 50px;
  text-align: center;
  font-size: 20px;
}

.form-control.prodct__cart--quantity-inp:focus {
  border-color: #33b530;
  box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.0);
}

.mb-3.new {
  width: 200px;
  height: 40px;
}

.input-group-text.new {
  background-color: #3bb77e;
  color: #fff;
  font-weight: bold;
}

.cart__pay {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 20px;
  width: 1080px;
  margin: 100px auto;
}

.continue__bought {
  color: #000;
  text-decoration: none;
  display: inline-block;
}

.continue__bought:hover {
  color: #008000;
}


.pay__button {
  width: 100%;
  background-color: #33b530;
  color: #fff;
  font-weight: 500;
}

.price__total--provisional,
.price__total--into {
  display: flex;
  justify-content: space-between;
}

.number__total--black {
  font-weight: 600;
}

.number__total--green {
  font-size: 20px;
  color: #008000;
  font-weight: 600;
}

/* css modal */
.modal {
  background-color: rgba(0, 0, 0, 0.5);
}

/* end modal */

/* css check out */
.box-check-out {
  width: 1080px;
  height: auto;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
}

.item-check-out {
  width: 30%;
  height: auto;
}

.title-checkout {
  font-size: 25px;
  font-weight: bold;
}

.box-info {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #bee5eb;
  background-color: #d1ecf1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3bb77e;
  margin-bottom: 50px;
}

.box-list-product-cart {
  width: 100%;
  height: 200px;
  overflow-y: auto;
}

.box-list-product-cart::-webkit-scrollbar {
  width: 10px;
}

.box-list-product-cart::-webkit-scrollbar-thumb {
  background-color: #3bb77e;
  border-radius: 20px;
}

.box-list-product-cart::-webkit-scrollbar-track {
  background-color: #d1ecf1;
}


.product-item-check-out {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.left {
  width: 35%;
  height: 100%;
}

.left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.right {
  width: 65%;
  height: 100%;
  padding-left: 10px;
}

.right-name {
  display: block;
  margin: 0px;
}

.right-quantity {
  display: block;
}

.right-price {
  display: block;
}

.total {
  width: 100%;
  height: auto;
  margin-top: 50px;
}

.total-top {
  width: 100%;
  height: auto;
}


.total-bottom {
  width: 100%;
  height: auto;
}

.total-top p,
.total-bottom p {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.total-top p span,
.total-bottom p span {
  color: #333;
}

.total-bottom button {
  background-color: #3bb77e;
  color: #fff;
  font-weight: bold;
  transition: .5s;
  border: 1px solid #3bb77e;
}

.total-bottom button:hover {
  background-color: #fff;
  color: #3bb77e;
}

/* css bill */

.box-bill {
  width: 100%;
  height: auto;
  margin-bottom: 100px;
}

.bill-item {
  width: 100%;
  height: 200px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 3px 3px 10px 3px #ddd;
  margin-bottom: 30px;
}

.bill-item>div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-dital-bill{
  margin-left: 25px;
}

.img-bill {
  height: 100%;
  object-fit: contain;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #1d72e0;
}

.list-name {}

.box-text {
  font-size: 20px;
  font-weight: bold;
  /* white-space: nowrap; 
    thuộc tính cho cá chữ trong hàng không xuống dòng trừ khi găoj thẻ br */
  white-space: nowrap;
  overflow: hidden;
  /* text-overflow: ellipsis; hiển thị dấu ... khi văn bản dài */
  text-overflow: ellipsis;
  max-width: 500px;
  margin-right: -50px;
}
.box-status{
  padding: 40px;
}
.address {
  
}

.total-price {
  font-weight: bold;
}

.status-bill {
  margin: auto;
  padding: 0 20px;
  font-weight: bold;
  color: #008000;
}