*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;

}

body {
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  outline: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.top-header {
  width: 1080px;
  margin: auto;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.line {
  /* min-width: 1080px; */
  height: 1px;
  background-color: #ccc;
  /* box-sizing: unset; */
}

.top_header--left a,
.top_header--right a {
  color: #000;
  text-decoration: none;
}

.left__item2,
.right__item2 {
  margin-left: 25px;
  padding-left: 25px;
  position: relative;
}

.left__item2::before,
.right__item2::before {
  content: '';
  position: absolute;
  width: 1px;
  height: 25px;
  background-color: #ccc;
  top: -5px;
  bottom: 0;
  left: 0%;
}

.top-header a:hover {
  color: #38b000;
}

/* end top header */

.mid-header {
  width: 1080px;
  margin: auto;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 20px 0;
  justify-content: space-between;
}

.logo {
  width: 155px;
  height: 35px;
}

.mid-header img {
  object-fit: contain;
}

.search {
  position: relative;
}

.search__input {
  width: 525px;
  height: 35px;
  background-color: #f3f3f3;
  border: none;
  border-radius: 10px;
  padding: 20px;
  margin-left: 20px;
}

.search__button {
  height: 25px;
  width: 25px;
  position: absolute;
  top: 18%;
  right: 3%;
  border: none;
  background-color: #f3f3f3;
  font-size: 20px;
}

.account__logo,
.cart__logo,
.hotline__logo {
  width: 25px;
  height: 25px;
}

.account__logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #38b000;
}


.hotline,
.account,
.cart {
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.account {
  justify-content: center;
  align-items: center;
}

.account p {
  margin: 0px 10px 0px;
}

.phone_number {
  font-weight: 700;
}

.phone_number:hover {
  color: #008000;
  cursor: pointer;
}

.account {
  font-weight: 700;
  position: relative;
  width: auto;
  height: 50px;
}

.account__hover::before {
  content: '';
  position: absolute;
  width: 100px;
  height: 30px;
  background-color: transparent;
  top: -25px;
  left: 80px;
}

.account__hover {
  display: none;
  position: absolute;
  width: 250px;
  height: auto;
  /* display: flex; */
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 2px;
  top: 50px;
  right: -100%;
  right: 0;
  box-shadow: 0px 1px 11px 1px rgba(0, 0, 0, 0.175);
  background-color: #fff;
  padding: 5px 10px;
}

.account__hover a {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  background-color: #38b000;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  border-radius: 5px;
  margin: 5px;
}

.account:hover .account__hover {
  display: flex;
  z-index: 999;
}

.sign__in:hover,
.sign__up:hover {
  background-color: #008000;
}

.account:hover {
  cursor: pointer;
}

.cart {
  font-weight: 700;
  padding-right: 15px;
}

/* end mid header */
.menu {
  padding: 20px 550px 15px 0;
  width: 1080px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu li {
  display: inline-block;
}

.menu li a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
}


.menu li a:hover {
  color: #38b000;
  /* font-weight: 600; */
}

/* end menu */
/* main {
  width: 1080px;
  margin: auto;
} */

.banner {
  width: 1080px;
  margin: auto;
}

.banner img {
  background-size: cover;
  margin-top: 20px;
  border-radius: 30px;
}

/* end banner */

.list__categories {
  width: 1080px;
  margin: auto;
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 20px;
  height: 310px;
}

.item__categories__img {
  position: absolute;
  width: 255px;
  height: 310px;
}

.item__categories__content {
  position: absolute;
  padding: 35px 32px;
  font-size: 14px;
}

.title__categories {
  font-size: 20px;
}

.menu__categories {
  margin-top: 20px;
}

.menu__categories li {
  display: flex;
  margin: 10px 10px;
  position: relative;
}

.menu__categories li::before {
  content: '';
  width: 5px;
  height: 5px;
  background-color: #000;
  border-radius: 50%;
  position: absolute;
  top: 35%;
  right: 105%;
}

.menu__categories li a {
  text-decoration: none;
  color: #000;
}

/* .menu__categories li a:hover, */
.menu__categories li a:hover {
  color: #008000;
}

.buy__now {
  width: 135px;
  height: 35px;
  border-radius: 17px;
  border: none;
  background-color: #008000;
  color: #fff;
  font-weight: 600;
}

.buy__now:hover {
  background-color: #38b000;
}

/* end category */

.wrap-discount {
  background-color: rgb(255, 70, 59);
}

.discount__product {
  height: 475px;
  width: 1080px;
  margin: auto;
  margin-top: 50px;
  /* background-color: rgb(255, 70, 59); */
  border-radius: 20px;
}

.title__discount {
  display: inline-block;
  margin: 15px 10px;
  font-size: 25px;
  color: #fff;
}

.swiper {
  background-color: rgba(255, 255, 255, 0.168);
  width: 100%;
  height: 384px;
  box-sizing: unset;
}

.swiper-slide {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  font-size: 18px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}

.price-and-cart {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  width: 100%;
  margin-top: 10px;
  flex-direction: column-reverse;
}

/* end slide show prd discount */
.list__product--wrap {
  background-color: #f4f5f9;
  min-width: 1080px;
  box-sizing: unset;
  padding-bottom: 20px;
}

.title--button__categories {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title__product {
  font-size: 25px;
  margin: 20px;
  font-weight: 500;
}

.category__button {
  width: 150px;
  height: 35px;
  margin-left: 20px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
}

.category__button:hover {
  background-color: rgb(59, 183, 126);
  color: #fff;
}

.title--button__categories {
  width: 1080px;
  margin: auto;
}

.list__product {
  width: 1080px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
}

.product__item {
  padding: 10px;
  width: 200px;
  height: 330px;
  border-radius: 20px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.price__product--discount {
  color: #000;
  text-decoration: line-through;
}

.product__item--slogan {
  border-radius: 10px;
  width: 200px;
  height: 330px;
}

.slogan__product {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.product_item img {
  border-radius: inherit;
}

.product__item--status {
  font-size: 20px;
  color: #38b000;
  font-weight: bold;
}

.product__item--name {
  color: #000;
  text-decoration: none;
}

.product__item--name:hover {
  color: rgb(59, 183, 126);
}

/* end main */

footer {
  background-color: rgb(37, 43, 51);
  height: 410px;
  width: 100%;
}

.child__footer {
  width: 1080px;
  margin: auto;
  color: #fff;
  font-size: 14px;
}

.top__footer--item {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.top__footer {
  height: 70px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.top__footer--item img {
  width: 38px;
  height: 37px;
}

.main__footer {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  height: 330px;
}

.main__footer--left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* align-items: center; */
}

.main__footer--center-left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.email__footer {
  text-decoration: none;
  color: #fff;
}

.email__footer:hover {
  color: rgb(59, 183, 126);
}

.main__footer--center-right,
.main__footer--right {
  margin-top: 40px;
}

.list_menu__footer {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.list_menu--item {
  display: inline-block;
}

.list_menu--item a {
  color: #fff;
  text-decoration: none;
}

.list_menu--item a:hover {
  color: rgb(59, 183, 126);
}

/* css trang all product */
.box-container {
  width: 1080px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin: 50px auto;
}

.box-filter {
  width: 23%;
  height: auto;

}

.filter {
  width: 100%;
  border: 1px solid #e5e5e5;
  height: auto;
}

.box-product {
  width: 75%;
}

.filter__title {
  font-size: 20px;
  font-weight: bold;
  display: block;
  background-color: #e5e5e5;
  padding: 10px;
}

.filter__box-item {
  padding: 10px;
}

.filter__naem-item {
  font-weight: bold;
}

.filter__box-item>ul {
  padding: 0;
}

.filter__box-item>ul>li {
  list-style: none;
  padding: 5px 0px;
}

.filter__box-item>ul>li label {
  font-weight: 200;
}

.filter__box-item>ul>li>label:hover {
  color: #38b000;
  cursor: pointer;
}

.list__product.box-new {
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  margin: 0px;
  grid-gap: 15px;
}

.product__item.new {
  width: 100%;
  background-color: #F4F5F8;
}

.product__item--name.new {
  overflow: hidden;
  margin-right: -50px;
  height: 50px;
  max-width: 100%;
}

.product__img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  border: 1px solid #fff;
}

.product__item.new button {
  border: none;
  color: #fff;
  background-color: #38b000;
  border-radius: 15px;
}

.search-btn {
  padding: 5px 20px;
  border: 1px solid #38b000;
  border-radius: 8px;
  margin-left: 10px;
  background-color: #38b000;
  color: #fff;
  font-weight: bold;
  transition: .25s;
  user-select: none;
}

.search-btn:hover {
  background-color: #fff;
  color: #38b000;
}

/* gi đè boostarp */
.pagination.pagination-sm {
  display: flex;
  margin-top: 20px;
  max-width: 103px;
}

.pagination {
  --bs-pagination-color: #38b000;
}

.active>.page-link,
.page-link.active {
  z-index: 3;
  color: #fff;
  background-color: #38b000;
  border-color: #38b000;
}

/*  */

/* css detail-products */

.detail-menu {
  background: #f9f9f9;
  height: 45px;
}

.detail-menu__product {
  margin: 0px 125px;
  height: 100%;
  display: flex;
  align-items: center;
}

.detail-menu__product a {
  letter-spacing: 0.5px;
  font-size: 0.9rem;
  color: #000;
  text-decoration: none;
  padding: 10px;
}

.detail-menu__product span a {
  color: #3bb77e;
}

.box-detail {
  margin: 0 135px;

}

.box-detail-top {
  height: 50px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
}

.box-detail-top h1 {
  padding-top: 13px;
  font-size: 20px;
  font-weight: 700;
}

.box-detail-main {
  width: 100%;
  padding: 10px 30px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.box-detail-main-left {
  width: 40%;
  padding-right: 10px;
}

.box-detail-main-left img {
  border-radius: 10px;
  width: 330px;
  height: 330px;
  padding: 30px 10px;
  object-fit: contain;
}

.box-detail-main-right {
  width: 60%;
  padding-top: 10px;
}

.box-detail-main-right p {
  margin-bottom: 5px;
}

.box-detail-main-right p:nth-child(1),
.box-detail-main-right p:nth-child(2) {
  font-size: 15px;
}

.box-detail-main-right p:nth-child(1) span,
.box-detail-main-right p:nth-child(2) span {
  font-weight: bold;
}

.box-detail-main-right p:nth-child(3) span {
  color: #3bb77e;
  font-size: 20px;
  font-weight: 590;
}

.box-detail-main-right p:nth-child(3) span:nth-child(2) {
  color: #000;
  font-size: 15px;
  font-weight: 100;
  text-decoration: line-through;
}

.box-detail-main-right p:nth-child(4) {
  color: #33b530;
  font-size: 15px;
}

.box-detail-main-right p:nth-child(4) span {
  font-weight: 600;
}

.box-detail-main-right-count {
  display: flex;
  align-items: center;

}

.box-detail-main-right-count button {
  border: 1px solid #ccc;
  height: 35px;
  width: 35px;
  color: #3bb77e;
  background: #fff;

}

.box-detail-main-right-count input {
  border: none;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  text-align: center;
  width: 70px;
  height: 35px;

}

.box-detail-main-right-count button:hover {
  color: #fff;
  background: #3bb77e;
}

.detail-purchase {
  width: 100%;
  border: 1px solid #3bb77e;
  background: #3bb77e;
  color: #fff;
  border-radius: 8px;
  margin: 16px 0;
  line-height: 18px;
}

.detail-purchase:hover {
  color: #3bb77e;
  background: #fff;
}

.detail-purchase p:nth-child(1) {
  text-transform: uppercase;
  padding-top: 10px;
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: 500;

}

.box-detail-main-right_both {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box-detail-main-right_both button {
  display: block;
  line-height: 18px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 5px;
  font-weight: 500;
  font-size: 14px;
  width: 100%;
  background: #277cea;
  border: 1px solid #1d72e0;
}

.box-detail-main-right_both button:hover {
  color: #1d72e0;
  background: #fff;
}

.box-detail-main-right_both button:nth-child(1) {
  margin-right: 5px;
}

.box-detail-main-right .detail-call {
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-detail-main-right .detail-call span {
  color: #3bb77e;
}

.box-detail-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.box-detail-bottom-left {
  width: 60%;
  margin-right: 10px;
}

.box-detail-bottom-header p {
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600;
}

.box-detail-bottom-main p {
  font-size: 15px;
  line-height: 24px;
}

.box-detail-bottom-main img {
  max-width: 100% !important;
  height: auto !important;
}

.box-detail-bottom-right {
  width: 40%;
}

.box-detail-bottom_home-mini {
  display: flex;
}

.home_mini {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  line-height: 10px;
  cursor: pointer;
}

.home_mini:active {
  box-shadow: inset 3px 3px 10px 3px #ddd;
}

.home_mini .x {
  color: #3b3b3b;
  font-size: 20px
}

.home_mini p {
  margin-top: 10px;
}

a {
  text-decoration: none;
}

.box-detail-bottom_home-advanced {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.home-mini_product {
  display: flex;
  padding-bottom: 10px;
  flex-direction: row;
  width: 100%;
  height: 25%;
  justify-content: space-between;
  align-items: center;

}

.home-mini_product .home-mini_product-img {
  width: 30%;
  margin-right: 10px;

}

.home-mini_product .home-mini_product-img img {
  width: 100%;
  border-radius: 10px;
  object-fit: contain;
}

.home-mini_product .home-mini_product-detail {
  width: 70%;
  height: 100%;

}

.home-mini_product .home-mini_product-detail p {
  font-size: 14px;
  color: #3b3b3b;

}

.box-detail-comment {
  margin-top: 100px;
  display: flex;
  
  align-items: center;
}

.box-detail-comment2 {
  width: 70%;
 
  padding: 10px 15px;

}

.box-detail-comment2 h2 {
  text-align: center;
  margin-bottom: 15px;
}

.box-detail-comment2 form textarea {
  height: 20px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #aaa;
  background: transparent;
  margin-bottom: 10px;
  resize: none;
  overflow: hidden;
  outline: none;
}
.box-detail-comment_btn input[type="submit"], button{
  padding: 10px 15px;
  border: none;
  outline: none;
  border-radius: 5px ;
  text-transform: uppercase;
  
}
.box-detail-comment_btn input[type="submit"]{
  color: #fff;
  background: #3bb77e;
}
.box-detail-comment_btn button{
  color: #333;
  background: transparent;
}
/*  */